<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Edit Employee</title>
</head>
<body>
	<h3>Edit Employee</h3>
	
	<form th:object="${employee}" method="post" th:action="@{/employees/update/{id}(id=${employee.id})}">
		
		ID: <span th:text="*{id}" /></span><br/>
		Name: <input th:field="*{name}" /></br>
		Job: <input th:field="*{job}" /><br/> 
		Salary: <input th:field="*{salary}" /><br/> 
		Start Date: <input	th:field="*{startTimestamp}" /><br/>
		<input type="submit" value="Save"/>
	</form>
	<a th:href="@{/employees}">Back to Employees List</a>
</body>
</html>